@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}
body{
    font-family: 'lato', sans-serif;
    color: #333;
    line-height: 1.6;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
}
img{
    width: 100%;
}
/* BASIC CSS END */

/* NAV BAR START */
.navbar{
    background-color: var(--primary-color);
    color: #fff;
    height: 60px;
}
.navbar_fixed{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}
.navbar .flex{
    justify-content: space-between;
}

/* NAV BAR END */

/* SHOWCASE START */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase_text{
    animation: SlideInFormLeft 1s ease;
}
.showcase h1{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0;
}
.showcase .grid{
    grid-template-columns: 55% auto;
    gap: 30px;
    overflow: visible;
}

.showcase_form{
    justify-self: flex-end;
    position: relative;
    height: 330px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    animation: SlideInFormRight 1s ease;
    top: 60px;
}
.showcase_form .form_control{
    margin: 30px 0;
}
.showcase_form input[type="text"],
.showcase_form input[type="email"]{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}
.showcase_form input:focus{
    outline: none;
}
.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    bottom: -70px;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}
/* SHOWCASE END */

/* STATS START */
.stats{
    padding-top: 100px;
    animation: SlideInFormBottom 1s ease;
}
.text_center{
    text-align: center;
}
.my_1{
    margin: 1rem 0;
}
.stats_heading{
    max-width: 500px;
    margin: auto;
}
.stats .grid h3{
    font-size: 35px;
}
.para p{
    font-size: 20px;
    font-weight: bold;
}
/* STATS END */

/* CLI START */
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cli .grid > img{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* CLI END */

/* CLOUD START */
.bg_primary{
    background-color: var(--primary-color);
    color: #fff;
}
.cloud .grid{
    grid-template-columns: 4fr 3fr;
}
.cloud .btn_dark{
    background-color: var(--dark-color);
    color: #fff;
}
/* CLOUD END */

/* LANGUAGE START */
.md{
    font-size: 2rem;
}
.language .card{
    text-align: center;
    transition: transform .2s ease-in;
    margin: 18px 10px 40px;
    cursor: pointer;
}
.language .card h4{
    margin-bottom: 10px;
    font-size: 20px;
}
.language .card:hover{
    transform: translateY(-15px);
}
.language .flex{
    flex-wrap: wrap;
}
/* LANGUAGE END */

/* FOOTER START */
.bg_dark{
    background-color: var(--dark-color);
    color: #fff;
}
.bg_dark a{
    color: #fff;
    margin: 0 10px;
}

/* ? ---------------------------- ANIMATION-------------------------------- */
@keyframes SlideInFormLeft{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes SlideInFormRight{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes SlideInFormTop{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes SlideInFormBottom{
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


/* ! FEATURES START */
.features_head img,
.docs_head img {
    width: 200px;
    justify-self: flex-end;
}
.features_sub_head img{
    width: 300px;
    justify-self: flex-end;
}
.features_main .card > i{
    margin-right: 20px;
}
.features_main .container{
    overflow: hidden;
}
.features_main .grid{
    padding: 30px;
}
.features_main .grid > *:first-child{
    grid-column: 1/4;
}
.features_main .grid > *:nth-child(2){
    grid-column: 1/3;
}
/* ! FEATURES END */

/* ! DOCS START */
.docs_main h3{
    margin: 20px 0;
}
.docs_main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}
.docs_main nav li{
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.docs_main a:hover{
    font-weight: 700;
}
pre, code{
    padding: 10px;
    background: #333;
    color: #fff;
}














/* ! DOCS END */



















/* ! FEATURES END */

/* .footer .social a{
    margin: 0 10px;
} */
/* FOOTER END */







